In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('df_36.csv')

/Users/haoli/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (18,58) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,sub_grade,emp_title,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,75710736,NaN,12800.0,12800.0,12800.0,11.99%,425.09,C,C1,LOGISTICS COORDINATOR,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,76143686,NaN,9000.0,9000.0,9000.0,15.31%,313.36,C,C5,Senior Case Assistant,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,76143234,NaN,8000.0,8000.0,8000.0,10.75%,260.97,B,B4,Vp,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,75943579,NaN,20000.0,20000.0,20000.0,12.99%,673.79,C,C2,Jail Administrator,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,75169662,NaN,6000.0,6000.0,6000.0,7.39%,186.34,A,A4,Telecom ngineer,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(288838, 149)

## Drop the features with too many missing values

In [5]:
#A function getting features with high null value percentage.
def get_null_features(df, dtype, perc = 1):
    l = df.shape[0]
    feats = df.columns
    result_dic = {}
    result_lst = []
    for feat in feats: 
        if df[feat].dtype == dtype:
            null_feat = df[feat].isnull().sum()
            if null_feat/l >= perc:
                result_dic[feat] = null_feat/l
                result_lst.append(feat)
    return result_dic, result_lst

In [6]:
null_9_fl, null_9_fl_lst = get_null_features(df, 'float64', 0.9)

In [7]:
null_9_ob, null_9_ob_lst = get_null_features(df, 'object', 0.9)

In [8]:
null_9_fl

{'member_id': 1.0,
 'next_pymnt_d': 1.0,
 'annual_inc_joint': 0.9851508458028376,
 'dti_joint': 0.9851577700995021,
 'revol_bal_joint': 1.0,
 'sec_app_fico_range_low': 1.0,
 'sec_app_fico_range_high': 1.0,
 'sec_app_earliest_cr_line': 1.0,
 'sec_app_inq_last_6mths': 1.0,
 'sec_app_mort_acc': 1.0,
 'sec_app_open_acc': 1.0,
 'sec_app_revol_util': 1.0,
 'sec_app_open_act_il': 1.0,
 'sec_app_num_rev_accts': 1.0,
 'sec_app_chargeoff_within_12_mths': 1.0,
 'sec_app_collections_12_mths_ex_med': 1.0,
 'sec_app_mths_since_last_major_derog': 1.0,
 'deferral_term': 0.9915246608825709,
 'hardship_amount': 0.9915246608825709,
 'hardship_length': 0.9915246608825709,
 'hardship_dpd': 0.9915246608825709,
 'orig_projected_additional_accrued_interest': 0.9937992923368809,
 'hardship_payoff_balance_amount': 0.9915246608825709,
 'hardship_last_payment_amount': 0.9915246608825709,
 'settlement_amount': 0.9690726289477146,
 'settlement_percentage': 0.9690726289477146,
 'settlement_term': 0.9690726289477146}

In [9]:
null_9_ob

{'desc': 0.9999480677750158,
 'verification_status_joint': 0.9851508458028376,
 'hardship_type': 0.9915246608825709,
 'hardship_reason': 0.9915246608825709,
 'hardship_status': 0.9915246608825709,
 'hardship_start_date': 0.9915246608825709,
 'hardship_end_date': 0.9915246608825709,
 'payment_plan_start_date': 0.9915246608825709,
 'hardship_loan_status': 0.9915246608825709,
 'debt_settlement_flag_date': 0.9690726289477146,
 'settlement_status': 0.9690726289477146,
 'settlement_date': 0.9690726289477146}

In [10]:
#Because we don't have more information about these features, we just drop them for simplicity. 
lst_to_drop = null_9_fl_lst + null_9_ob_lst

In [11]:
lst_to_drop

['member_id',
 'next_pymnt_d',
 'annual_inc_joint',
 'dti_joint',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'deferral_term',
 'hardship_amount',
 'hardship_length',
 'hardship_dpd',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term',
 'desc',
 'verification_status_joint',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_loan_status',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date']

In [12]:
df_new = df.drop(lst_to_drop, axis = 1)

In [13]:
#We will move on with df_new
df_new.shape

(288838, 110)

## Revalue the target and splitting flag with 0 and 1

In [14]:
#There is no missing value in the splitting flag.
df_new.issue_d.isnull().sum()

0

In [15]:
df_new.issue_d.value_counts()

Mar-2016    44790
Feb-2016    28606
Apr-2016    28062
Aug-2016    24983
Jul-2016    24916
Jun-2016    24471
Jan-2016    22671
May-2016    21760
Dec-2016    18210
Nov-2016    17499
Oct-2016    17409
Sep-2016    15461
Name: issue_d, dtype: int64

In [16]:
df_new['issued_mark'] = df_new.issue_d.apply(lambda x: 1 if x.split('-')[0] in ['Oct','Nov','Dec'] else 0)

In [17]:
df_new.issued_mark.value_counts()

0    235720
1     53118
Name: issued_mark, dtype: int64

In [18]:
df_new.drop('issue_d', axis = 1, inplace = True)

In [19]:
df_new['y'] = df_new.loan_status.apply(lambda x: 0 if x == 'Fully Paid' else 1)

In [20]:
df_new['y'].value_counts()

0    239220
1     49618
Name: y, dtype: int64

In [21]:
df_new.drop('loan_status', axis = 1, inplace = True)

## Encoding the object type features

In [22]:
ob_new = df_new.select_dtypes(include = 'object').columns.values

In [23]:
ob_new

array(['int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'verification_status', 'pymnt_plan', 'url',
       'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line',
       'revol_util', 'initial_list_status', 'last_pymnt_d',
       'last_credit_pull_d', 'application_type', 'hardship_flag',
       'debt_settlement_flag'], dtype=object)

In [24]:
df_new['int_rate'].value_counts()

  5.32%    17251
 11.49%    12968
 11.99%    11037
 11.47%     9984
  9.75%     9385
           ...
 13.19%        1
 21.99%        1
 26.77%        1
 22.99%        1
 25.99%        1
Name: int_rate, Length: 139, dtype: int64

In [25]:
df_new['int_rate'].isnull().sum()

0

In [26]:
#This feature is essentially numerical, we just need to remove the '%'.
df_new['int_rate'] = df_new['int_rate'].apply(lambda x: float(x.strip('%')))

In [27]:
df_new['int_rate'].value_counts()

5.32     17251
11.49    12968
11.99    11037
11.47     9984
9.75      9385
         ...
17.86        1
13.19        1
11.16        1
22.99        1
21.99        1
Name: int_rate, Length: 139, dtype: int64

In [28]:
df_new['grade'].isnull().sum()

0

In [29]:
#This feature is also essentially numerical.
df_new['grade'].value_counts()

B    101466
C     81495
A     60823
D     32999
E      9285
F      2255
G       515
Name: grade, dtype: int64

In [30]:
dic_grade = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7}

In [31]:
df_new['grade'] = df_new['grade'].apply(lambda x: dic_grade[x])

In [32]:
df_new['grade'].value_counts()

2    101466
3     81495
1     60823
4     32999
5      9285
6      2255
7       515
Name: grade, dtype: int64

In [33]:
#The same for 'sub_grade'
df_new['sub_grade'].value_counts()

B5    24724
C1    21891
B4    20985
B3    19156
B2    18470
B1    18131
C2    17505
A1    17251
C3    14813
C4    14606
A5    12993
C5    12680
A4    12508
D1    10190
A2     9344
A3     8727
D2     8024
D3     6078
D4     4986
D5     3721
E1     2999
E2     2300
E3     1766
E4     1248
E5      972
F1      755
F2      462
F3      397
F4      355
F5      286
G1      169
G2      127
G3       86
G4       68
G5       65
Name: sub_grade, dtype: int64

In [34]:
df_new['sub_grade'].isnull().sum()

0

In [35]:
df_new['sub_grade'] = df_new['sub_grade'].apply(lambda x: dic_grade[x[0]]*10 + int(x[1]))

In [36]:
df_new['sub_grade'].value_counts()

25    24724
31    21891
24    20985
23    19156
22    18470
21    18131
32    17505
11    17251
33    14813
34    14606
15    12993
35    12680
14    12508
41    10190
12     9344
13     8727
42     8024
43     6078
44     4986
45     3721
51     2999
52     2300
53     1766
54     1248
55      972
61      755
62      462
63      397
64      355
65      286
71      169
72      127
73       86
74       68
75       65
Name: sub_grade, dtype: int64

In [37]:
df_new['emp_title'].isnull().sum()

20940

In [38]:
df_new['emp_title'].value_counts()

Teacher                            5468
Manager                            4933
Owner                              3369
Driver                             2284
RN                                 2226
                                   ...
Sales Advisor II                      1
I.T. and Computer Teacher             1
Adminstrative Analyst                 1
LEAD MAN                              1
Customer Service Reperasenative       1
Name: emp_title, Length: 86697, dtype: int64

In [39]:
#Fill in the missing value with 'others'
df_new['emp_title'].fillna('unknown', inplace = True)

In [40]:
df_new['emp_title'].value_counts()

unknown                          20940
Teacher                           5468
Manager                           4933
Owner                             3369
Driver                            2284
                                 ...
Marine Electronics Technician        1
Sr. Manager, External Affairs        1
Parole Services                      1
Director, Global Quality             1
Direct Service Professional          1
Name: emp_title, Length: 86698, dtype: int64

In [41]:
#We apply frequency encoding to this feature.
def generate_freq(df, feat):
    freq_name = feat + '_freq'
    df_freq = df.groupby(feat).size().reset_index()
    df_freq.columns = [feat, freq_name]
    df = pd.merge(df, df_freq, how = 'left', on = feat)
    return df

In [42]:
df_new = generate_freq(df_new, 'emp_title')

In [43]:
df_new[['emp_title', 'emp_title_freq']]

                        emp_title  emp_title_freq
0           LOGISTICS COORDINATOR               2
1           Senior Case Assistant               2
2                              Vp              25
3              Jail Administrator               2
4                 Telecom ngineer               1
...                           ...             ...
288833  IT Solutions Architect II               1
288834        Foster care worker                1
288835                Supervisor              428
288836           Customer Service             346
288837              Billing clerk               5

[288838 rows x 2 columns]

In [44]:
df_new.drop('emp_title', axis = 1, inplace = True)

In [45]:
ob_new

array(['int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'verification_status', 'pymnt_plan', 'url',
       'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line',
       'revol_util', 'initial_list_status', 'last_pymnt_d',
       'last_credit_pull_d', 'application_type', 'hardship_flag',
       'debt_settlement_flag'], dtype=object)

In [46]:
df_new['emp_length'].isnull().sum()

20803

In [47]:
df_new['emp_length'].value_counts()

10+ years    94905
2 years      27038
3 years      23727
< 1 year     22254
1 year       19982
5 years      17717
4 years      17286
6 years      12405
8 years      12383
9 years      11029
7 years       9309
Name: emp_length, dtype: int64

In [48]:
#This feature is also essentially numerical.
emp_length_dic = {'10+ years': 10, '9 years': 9, '8 years': 8, '7 years': 7, '6 years': 6, '5 years': 5,
                 '4 years': 4, '3 years': 3, '2 years': 2, '1 year': 1, '< 1 year': 0, np.nan : -999}

In [49]:
df_new['emp_length'] = df_new['emp_length'].apply(lambda x: emp_length_dic[x])

In [50]:
df_new['emp_length'].value_counts()

 10     94905
 2      27038
 3      23727
 0      22254
-999    20803
 1      19982
 5      17717
 4      17286
 6      12405
 8      12383
 9      11029
 7       9309
Name: emp_length, dtype: int64

In [51]:
df_new['home_ownership'].isnull().sum()

0

In [52]:
df_new['home_ownership'].value_counts()

MORTGAGE    132857
RENT        119385
OWN          36533
ANY             63
Name: home_ownership, dtype: int64

In [53]:
#For this feature we can use onehot encoding since there are not so many values there.
df_home_owner_dummies = pd.get_dummies(df_new['home_ownership'])

In [54]:
df_home_owner_dummies.head()

   ANY  MORTGAGE  OWN  RENT
0    0         1    0     0
1    0         0    0     1
2    0         0    0     1
3    0         1    0     0
4    0         1    0     0

In [55]:
df_new = pd.concat([df_new, df_home_owner_dummies], axis = 1)

In [56]:
df_new.drop('home_ownership', axis = 1, inplace = True)

In [57]:
df_new['verification_status'].value_counts()

Source Verified    125867
Verified            83031
Not Verified        79940
Name: verification_status, dtype: int64

In [58]:
df_verifi_dummies =pd.get_dummies(df_new['verification_status'])

In [59]:
df_verifi_dummies.head()

   Not Verified  Source Verified  Verified
0             0                0         1
1             0                1         0
2             0                1         0
3             0                0         1
4             0                1         0

In [60]:
df_new = pd.concat([df_new, df_verifi_dummies], axis = 1)

In [61]:
df_new.drop('verification_status', axis = 1, inplace = True)

In [62]:
ob_new

array(['int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'verification_status', 'pymnt_plan', 'url',
       'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line',
       'revol_util', 'initial_list_status', 'last_pymnt_d',
       'last_credit_pull_d', 'application_type', 'hardship_flag',
       'debt_settlement_flag'], dtype=object)

In [63]:
df_new['pymnt_plan'].isnull().sum()

0

In [64]:
df_new['pymnt_plan'].value_counts()

n    288838
Name: pymnt_plan, dtype: int64

In [65]:
#There is only one value in the 36 months term loan, we drop it.
df_new.drop('pymnt_plan', axis = 1, inplace = True)

In [66]:
df_new['url'].value_counts()

https://lendingclub.com/browse/loanDetail.action?loan_id=91330051    1
https://lendingclub.com/browse/loanDetail.action?loan_id=88593122    1
https://lendingclub.com/browse/loanDetail.action?loan_id=85842097    1
https://lendingclub.com/browse/loanDetail.action?loan_id=91527290    1
https://lendingclub.com/browse/loanDetail.action?loan_id=73754150    1
                                                                    ..
https://lendingclub.com/browse/loanDetail.action?loan_id=79753759    1
https://lendingclub.com/browse/loanDetail.action?loan_id=90008350    1
https://lendingclub.com/browse/loanDetail.action?loan_id=70652911    1
https://lendingclub.com/browse/loanDetail.action?loan_id=87956790    1
https://lendingclub.com/browse/loanDetail.action?loan_id=90441310    1
Name: url, Length: 288838, dtype: int64

In [67]:
#It takes each value exactly once. We drop this feature.
df_new.drop('url', axis = 1, inplace = True)

In [68]:
df_new['purpose'].isnull().sum()

0

In [69]:
df_new['purpose'].value_counts()

debt_consolidation    159696
credit_card            61942
other                  21266
home_improvement       20826
major_purchase          7371
medical                 3993
car                     3599
small_business          3294
vacation                2687
moving                  2559
house                   1379
renewable_energy         225
wedding                    1
Name: purpose, dtype: int64

In [70]:
#We apply frequency encoding. Onehot encoding is also OK.
df_new = generate_freq(df_new, 'purpose')

In [71]:
df_new['purpose_freq'].head()

0     61942
1    159696
2    159696
3    159696
4    159696
Name: purpose_freq, dtype: int64

In [72]:
df_new.drop('purpose', axis = 1, inplace = True)

In [73]:
df_new['title'].isnull().sum()

15423

In [74]:
df_new['title'].fillna('others', inplace = True)

In [75]:
df_new['title'].value_counts()

Debt consolidation           150465
Credit card refinancing       58209
Other                         20710
Home improvement              19949
others                        15423
Major purchase                 7106
Medical expenses               3812
Car financing                  3454
Business                       3132
Vacation                       2562
Moving and relocation          2469
Home buying                    1329
Green loan                      217
Credit Card Consolidation         1
Name: title, dtype: int64

In [76]:
#Use frequency encoding.
df_new = generate_freq(df_new, 'title')

In [77]:
df_new['title_freq'].head()

0     58209
1    150465
2    150465
3    150465
4    150465
Name: title_freq, dtype: int64

In [78]:
df_new.drop('title', axis = 1, inplace = True)

In [79]:
df_new.zip_code.isnull().sum()

0

In [80]:
df_new.zip_code.value_counts()

750xx    3046
945xx    3041
112xx    3036
606xx    2770
300xx    2567
         ...
987xx       1
872xx       1
203xx       1
698xx       1
909xx       1
Name: zip_code, Length: 903, dtype: int64

In [81]:
#Use frequency encoding.
df_new = generate_freq(df_new, 'zip_code')

In [82]:
df_new['zip_code_freq'].head()

0    2325
1    3041
2    2010
3      97
4    2325
Name: zip_code_freq, dtype: int64

In [83]:
df_new.drop('zip_code', axis = 1, inplace = True)

In [84]:
df_new['addr_state'].isnull().sum()

0

In [85]:
df_new['addr_state'].value_counts()

CA    40051
TX    24744
NY    23913
FL    21752
IL    11630
NJ    10308
OH     9788
GA     9427
PA     9037
NC     7955
MI     7762
VA     7465
AZ     7166
MA     6481
MD     6257
CO     5924
WA     5751
MN     5012
IN     4952
TN     4809
MO     4545
CT     4352
NV     4350
WI     3892
SC     3477
AL     3422
LA     3228
OR     3181
KY     2703
OK     2691
KS     2316
AR     2193
MS     1903
UT     1866
NM     1497
NE     1408
NH     1402
HI     1330
RI     1235
ME      910
DE      812
ID      811
MT      782
ND      721
DC      686
AK      645
VT      605
SD      589
WY      582
WV      520
Name: addr_state, dtype: int64

In [86]:
df_new = generate_freq(df_new, 'addr_state')

In [87]:
df_new['addr_state_freq'].head()

0    21752
1    40051
2    40051
3     7762
4    21752
Name: addr_state_freq, dtype: int64

In [88]:
df_new.drop('addr_state', axis = 1, inplace = True)

In [89]:
df_new['earliest_cr_line'].isnull().sum()

0

In [90]:
df_new['earliest_cr_line'].value_counts()

Sep-2003    2159
Sep-2004    2159
Aug-2003    2141
Sep-2005    2127
Aug-2004    2069
            ...
Jul-1952       1
Apr-1961       1
Jan-1951       1
Mar-1933       1
Nov-1963       1
Name: earliest_cr_line, Length: 655, dtype: int64

In [91]:
#We can replace this feature by the year and the month. Or we can replace it by the credit length in months. 
#We adopt the latter since it seems more explainable.

In [92]:
dic_months = {'Jan':11,'Feb':10,'Mar':9,'Apr':8, 'May':7, 'Jun':6, 'Jul':5, 'Aug':4, 'Sep':3, 'Oct':2, 'Nov':1, 'Dec':0}

In [93]:
df_new['earliest_cr_line_len']=df_new.earliest_cr_line.apply(lambda x: (2016-int(x.split('-')[1]))*12+dic_months[x.split('-')[0]])

In [94]:
df_new['earliest_cr_line_len'].head()

0    177
1    205
2    143
3    151
4     98
Name: earliest_cr_line_len, dtype: int64

In [95]:
df_new.drop('earliest_cr_line', axis = 1, inplace = True)

In [96]:
df_new['revol_util'].isnull().sum()

196

In [97]:
df_new['revol_util'].value_counts()

0%        1366
57%        610
48%        595
51%        591
55%        589
          ...
128%         1
117.8%       1
165.8%       1
115.1%       1
127.1%       1
Name: revol_util, Length: 1150, dtype: int64

In [98]:
#This is essentially a numerical feature. Just remove the '%'.
df_new['revol_util'].fillna('0%', inplace = True)

In [99]:
df_new['revol_util'] = df_new['revol_util'].apply(lambda x: x.strip('%'))

In [100]:
df_new['revol_util'].value_counts()

0        1562
57        610
48        595
51        591
55        589
         ...
109.1       1
104.6       1
132.9       1
118.3       1
113.8       1
Name: revol_util, Length: 1150, dtype: int64

In [101]:
df_new['initial_list_status'].isnull().sum()

0

In [102]:
df_new['initial_list_status'].value_counts()

w    213422
f     75416
Name: initial_list_status, dtype: int64

In [103]:
init_dummies = pd.get_dummies(df_new['initial_list_status'])

In [104]:
df_new = pd.concat([df_new, init_dummies], axis = 1)

In [105]:
df_new[['w', 'f']].head()

   w  f
0  1  0
1  1  0
2  1  0
3  1  0
4  1  0

In [106]:
df_new.drop('initial_list_status', axis = 1, inplace = True)

In [107]:
df_new['last_pymnt_d'].isnull().sum()

406

In [108]:
df_new['last_pymnt_d'].value_counts()

Feb-2019    15854
Mar-2019    15001
Apr-2019    14415
Jan-2019    11881
May-2019    10116
Jul-2019     9546
Jun-2019     8940
Mar-2018     8459
Mar-2017     8029
Aug-2017     8017
Oct-2017     7714
Jun-2017     7701
Nov-2017     7643
Jan-2018     7539
Jul-2017     7522
May-2017     7235
Aug-2018     7188
Feb-2018     7126
Aug-2019     6985
Sep-2017     6982
Jul-2018     6818
Dec-2017     6773
Jun-2018     6652
Apr-2018     6572
May-2018     6523
Apr-2017     6379
Oct-2018     6326
Nov-2018     6011
Dec-2018     5940
Jan-2017     5862
Sep-2018     5785
Feb-2017     5723
Dec-2016     5079
Nov-2016     4390
Oct-2016     4151
Sep-2016     3649
Aug-2016     3182
Jul-2016     2568
Jun-2016     2139
May-2016     1554
Apr-2016     1235
Mar-2016      776
Feb-2016      366
Jan-2016       86
Name: last_pymnt_d, dtype: int64

In [109]:
#We replace the feature by the number of months from Jan-2016 to the last payment month.

In [110]:
df_new['last_pymnt_d'].fillna('Feb-2019', inplace = True)

In [111]:
df_new['months_to_last_pymnt'] = df_new['last_pymnt_d'].apply(lambda x: (int(x.split('-')[1]) - 2016)*12 + dic_months[x.split('-')[0]])

In [112]:
df_new.drop('last_pymnt_d', axis = 1, inplace = True)

In [113]:
df_new['last_credit_pull_d'].isnull().sum()

8

In [114]:
df_new['last_credit_pull_d'].value_counts()

Aug-2019    112510
Jul-2019     19108
Jun-2019     14423
May-2019     13127
Apr-2019     12818
Mar-2019     11515
Feb-2019     10601
Jan-2019      8268
Jul-2018      7838
Oct-2018      5896
Aug-2018      5329
Nov-2018      4883
Dec-2018      4795
Sep-2018      4197
Mar-2018      3806
Apr-2018      3715
Feb-2018      3649
Jan-2018      3600
May-2018      3578
Oct-2017      3371
Nov-2017      3229
Dec-2017      2940
Sep-2017      2920
Jul-2017      2832
Aug-2017      2726
Jun-2017      2642
Feb-2017      2044
Apr-2017      1862
Mar-2017      1803
May-2017      1477
Jan-2017      1260
Oct-2016      1182
Jun-2018       996
Dec-2016       939
Nov-2016       794
Aug-2016       464
Jul-2016       400
Apr-2016       298
May-2016       276
Jun-2016       260
Mar-2016       168
Sep-2016       155
Feb-2016        83
Jan-2016        50
Dec-2015         2
Sep-2019         1
Name: last_credit_pull_d, dtype: int64

In [115]:
df_new['last_credit_pull_d'].fillna('Aug-2019', inplace = True)

In [116]:
#Apply the same strategy as above.
df_new['months_to_last_credit_pull'] = df_new['last_credit_pull_d'].apply(lambda x: (int(x.split('-')[1]) - 2016) * 12 + dic_months[x.split('-')[0]])

In [117]:
df_new.drop('last_credit_pull_d', axis = 1, inplace = True)

In [118]:
df_new['months_to_last_credit_pull'].head()

0    45
1    41
2    43
3    47
4    21
Name: months_to_last_credit_pull, dtype: int64

In [119]:
df_new['application_type'].isnull().sum()

0

In [120]:
df_new['application_type'].value_counts()

Individual    284549
Joint App       4289
Name: application_type, dtype: int64

In [121]:
app_dummies = pd.get_dummies(df_new['application_type'])

In [122]:
df_new = pd.concat([df_new, app_dummies], axis = 1)

In [123]:
df_new.drop('application_type', axis = 1, inplace = True)

In [124]:
df_new['hardship_flag'].isnull().sum()

0

In [125]:
df_new['hardship_flag'].value_counts()

N    288838
Name: hardship_flag, dtype: int64

In [126]:
df_new.drop('hardship_flag', axis = 1, inplace = True)

In [127]:
df_new['debt_settlement_flag'].isnull().sum()

0

In [128]:
df_new['debt_settlement_flag'].value_counts()

N    279905
Y      8933
Name: debt_settlement_flag, dtype: int64

In [129]:
dbt_flag = pd.get_dummies(df_new['debt_settlement_flag'])

In [130]:
df_new = pd.concat([df_new, dbt_flag], axis = 1)

In [131]:
df_new.drop('debt_settlement_flag', axis = 1, inplace = True)

In [132]:
#Now we finished encoding the object type features.

## Fill in the missing values of the numerical features

In [133]:
col = df_new.columns.values

In [134]:
dic = {}
for feat in col:
    dic[feat] = df_new[feat].isnull().sum()

In [135]:
dic

{'id': 0,
 'loan_amnt': 0,
 'funded_amnt': 0,
 'funded_amnt_inv': 0,
 'int_rate': 0,
 'installment': 0,
 'grade': 0,
 'sub_grade': 0,
 'emp_length': 0,
 'annual_inc': 0,
 'dti': 37,
 'delinq_2yrs': 0,
 'fico_range_low': 0,
 'fico_range_high': 0,
 'inq_last_6mths': 0,
 'mths_since_last_delinq': 135827,
 'mths_since_last_record': 232291,
 'open_acc': 0,
 'pub_rec': 0,
 'revol_bal': 0,
 'revol_util': 0,
 'total_acc': 0,
 'out_prncp': 0,
 'out_prncp_inv': 0,
 'total_pymnt': 0,
 'total_pymnt_inv': 0,
 'total_rec_prncp': 0,
 'total_rec_int': 0,
 'total_rec_late_fee': 0,
 'recoveries': 0,
 'collection_recovery_fee': 0,
 'last_pymnt_amnt': 0,
 'last_fico_range_high': 0,
 'last_fico_range_low': 0,
 'collections_12_mths_ex_med': 0,
 'mths_since_last_major_derog': 204000,
 'policy_code': 0,
 'acc_now_delinq': 0,
 'tot_coll_amt': 0,
 'tot_cur_bal': 0,
 'open_acc_6m': 44,
 'open_act_il': 44,
 'open_il_12m': 44,
 'open_il_24m': 44,
 'mths_since_rcnt_il': 8856,
 'total_bal_il': 44,
 'il_util': 40562,
 'open_rv_12m': 44,
 'open_rv_24m': 44,
 'max_bal_bc': 44,
 'all_util': 61,
 'total_rev_hi_lim': 0,
 'inq_fi': 44,
 'total_cu_tl': 44,
 'inq_last_12m': 44,
 'acc_open_past_24mths': 0,
 'avg_cur_bal': 0,
 'bc_open_to_buy': 3325,
 'bc_util': 3469,
 'chargeoff_within_12_mths': 0,
 'delinq_amnt': 0,
 'mo_sin_old_il_acct': 8817,
 'mo_sin_old_rev_tl_op': 0,
 'mo_sin_rcnt_rev_tl_op': 0,
 'mo_sin_rcnt_tl': 0,
 'mort_acc': 0,
 'mths_since_recent_bc': 3133,
 'mths_since_recent_bc_dlq': 214398,
 'mths_since_recent_inq': 30301,
 'mths_since_recent_revol_delinq': 183377,
 'num_accts_ever_120_pd': 0,
 'num_actv_bc_tl': 0,
 'num_actv_rev_tl': 0,
 'num_bc_sats': 0,
 'num_bc_tl': 0,
 'num_il_tl': 0,
 'num_op_rev_tl': 0,
 'num_rev_accts': 0,
 'num_rev_tl_bal_gt_0': 0,
 'num_sats': 0,
 'num_tl_120dpd_2m': 13032,
 'num_tl_30dpd': 0,
 'num_tl_90g_dpd_24m': 0,
 'num_tl_op_past_12m': 0,
 'pct_tl_nvr_dlq': 0,
 'percent_bc_gt_75': 3349,
 'pub_rec_bankruptcies': 0,
 'tax_liens': 0,
 'tot_hi_cred_lim': 0,
 'total_bal_ex_mort': 0,
 'total_bc_limit': 0,
 'total_il_high_credit_limit': 0,
 'issued_mark': 0,
 'y': 0,
 'emp_title_freq': 0,
 'ANY': 0,
 'MORTGAGE': 0,
 'OWN': 0,
 'RENT': 0,
 'Not Verified': 0,
 'Source Verified': 0,
 'Verified': 0,
 'purpose_freq': 0,
 'title_freq': 0,
 'zip_code_freq': 0,
 'addr_state_freq': 0,
 'earliest_cr_line_len': 0,
 'f': 0,
 'w': 0,
 'months_to_last_pymnt': 0,
 'months_to_last_credit_pull': 0,
 'Individual': 0,
 'Joint App': 0,
 'N': 0,
 'Y': 0}

In [136]:
df_new['mths_since_last_delinq'].value_counts()

13.0     3042
7.0      2948
12.0     2947
6.0      2902
9.0      2886
         ...
109.0       1
121.0       1
145.0       1
125.0       1
117.0       1
Name: mths_since_last_delinq, Length: 135, dtype: int64

In [137]:
df_new['mths_since_last_record'].value_counts()

81.0     1015
79.0     1012
69.0     1012
74.0     1011
76.0     1010
         ...
1.0        34
2.0        32
0.0         4
121.0       2
120.0       2
Name: mths_since_last_record, Length: 122, dtype: int64

In [138]:
df_new['mths_since_last_major_derog'].value_counts()

43.0     1377
40.0     1357
44.0     1346
38.0     1341
46.0     1332
         ...
192.0       1
158.0       1
188.0       1
148.0       1
126.0       1
Name: mths_since_last_major_derog, Length: 147, dtype: int64

In [139]:
df_new['mths_since_rcnt_il'].value_counts()

7.0      13474
4.0      13042
6.0      13010
3.0      12853
8.0      12801
         ...
322.0        1
411.0        1
315.0        1
254.0        1
511.0        1
Name: mths_since_rcnt_il, Length: 322, dtype: int64

In [140]:
mean_lst = ['mths_since_last_delinq', 'mths_since_last_record', 'mths_since_last_major_derog', 
            'mths_since_rcnt_il', 'il_util', 'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct',
            'mths_since_recent_bc', 'mths_since_recent_bc_dlq','mths_since_recent_inq',
            'mths_since_recent_revol_delinq', 'num_tl_120dpd_2m', 'percent_bc_gt_75']
mode_lst = ['open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'total_bal_il', 
            'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'dti']

In [141]:
for feat in mean_lst:
    df_new[feat].fillna(df_new[feat].mean(), inplace = True)

In [142]:
for feat in mode_lst:
    df_new[feat].fillna(df_new[feat].mode()[0], inplace = True)

In [143]:
dic1 = {}
for feat in col:
    dic1[feat] = df_new[feat].isnull().sum()

In [144]:
dic1

{'id': 0,
 'loan_amnt': 0,
 'funded_amnt': 0,
 'funded_amnt_inv': 0,
 'int_rate': 0,
 'installment': 0,
 'grade': 0,
 'sub_grade': 0,
 'emp_length': 0,
 'annual_inc': 0,
 'dti': 0,
 'delinq_2yrs': 0,
 'fico_range_low': 0,
 'fico_range_high': 0,
 'inq_last_6mths': 0,
 'mths_since_last_delinq': 0,
 'mths_since_last_record': 0,
 'open_acc': 0,
 'pub_rec': 0,
 'revol_bal': 0,
 'revol_util': 0,
 'total_acc': 0,
 'out_prncp': 0,
 'out_prncp_inv': 0,
 'total_pymnt': 0,
 'total_pymnt_inv': 0,
 'total_rec_prncp': 0,
 'total_rec_int': 0,
 'total_rec_late_fee': 0,
 'recoveries': 0,
 'collection_recovery_fee': 0,
 'last_pymnt_amnt': 0,
 'last_fico_range_high': 0,
 'last_fico_range_low': 0,
 'collections_12_mths_ex_med': 0,
 'mths_since_last_major_derog': 0,
 'policy_code': 0,
 'acc_now_delinq': 0,
 'tot_coll_amt': 0,
 'tot_cur_bal': 0,
 'open_acc_6m': 0,
 'open_act_il': 0,
 'open_il_12m': 0,
 'open_il_24m': 0,
 'mths_since_rcnt_il': 0,
 'total_bal_il': 0,
 'il_util': 0,
 'open_rv_12m': 0,
 'open_rv_24m': 0,
 'max_bal_bc': 0,
 'all_util': 0,
 'total_rev_hi_lim': 0,
 'inq_fi': 0,
 'total_cu_tl': 0,
 'inq_last_12m': 0,
 'acc_open_past_24mths': 0,
 'avg_cur_bal': 0,
 'bc_open_to_buy': 0,
 'bc_util': 0,
 'chargeoff_within_12_mths': 0,
 'delinq_amnt': 0,
 'mo_sin_old_il_acct': 0,
 'mo_sin_old_rev_tl_op': 0,
 'mo_sin_rcnt_rev_tl_op': 0,
 'mo_sin_rcnt_tl': 0,
 'mort_acc': 0,
 'mths_since_recent_bc': 0,
 'mths_since_recent_bc_dlq': 0,
 'mths_since_recent_inq': 0,
 'mths_since_recent_revol_delinq': 0,
 'num_accts_ever_120_pd': 0,
 'num_actv_bc_tl': 0,
 'num_actv_rev_tl': 0,
 'num_bc_sats': 0,
 'num_bc_tl': 0,
 'num_il_tl': 0,
 'num_op_rev_tl': 0,
 'num_rev_accts': 0,
 'num_rev_tl_bal_gt_0': 0,
 'num_sats': 0,
 'num_tl_120dpd_2m': 0,
 'num_tl_30dpd': 0,
 'num_tl_90g_dpd_24m': 0,
 'num_tl_op_past_12m': 0,
 'pct_tl_nvr_dlq': 0,
 'percent_bc_gt_75': 0,
 'pub_rec_bankruptcies': 0,
 'tax_liens': 0,
 'tot_hi_cred_lim': 0,
 'total_bal_ex_mort': 0,
 'total_bc_limit': 0,
 'total_il_high_credit_limit': 0,
 'issued_mark': 0,
 'y': 0,
 'emp_title_freq': 0,
 'ANY': 0,
 'MORTGAGE': 0,
 'OWN': 0,
 'RENT': 0,
 'Not Verified': 0,
 'Source Verified': 0,
 'Verified': 0,
 'purpose_freq': 0,
 'title_freq': 0,
 'zip_code_freq': 0,
 'addr_state_freq': 0,
 'earliest_cr_line_len': 0,
 'f': 0,
 'w': 0,
 'months_to_last_pymnt': 0,
 'months_to_last_credit_pull': 0,
 'Individual': 0,
 'Joint App': 0,
 'N': 0,
 'Y': 0}

In [145]:
#Now there is no longer any missing values.

In [146]:
#Save the cleaned dataframe for modeling.
df_new.to_csv('df_for_modeling.csv', index = False)